@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(248, 245, 241);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.logo{
    text-decoration: none;
    color: rgb(44, 44, 252);;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: rgb(44, 44, 252); ;
    text-decoration: none;
    padding-left: 10px;
    font-size: 1.4;
    font-weight: 500;
}
.navigation a:hover{
    color: darkorange;
}
section{
padding: 100px 50px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(iamge/PicsArt_07-17-01.43.57.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.9em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(44, 44, 252);
    font-size: 2em;
    font-weight: 600;
    
}
.main h3{
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color: rgb(44, 44, 252);
    background-size: 100%;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.5s ease;
}
.main-btn:hover{
    background-color: blue;
    transform: scale(1.1);
}
.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color:rgb(44, 44, 252) ;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    color: white;
    width: 21.25em;
    box-shadow: 0 15px 25px rgb(1, 1, 1, 40%);
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: rgb(44, 44, 252);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(44, 44, 252);
    font-size: 1.2em;
    font-weight: 700;
    margin: 15px;
}
.info p{
    color: black;
}
.my-skills{
    background:url(iamge/animated-social-media-icon-motion-network-in-blue-background-free-video.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.skills-card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
}
.skills-card:hover{
    transform: scale(1.1);
}
.skills-image{
    font-size: 8em;
    color: rgb(44, 44, 252);
    text-align: center;
}
.skills-info{
    padding: 1em;
}
.skills-ca{
    font-size: 0.8em;
    color: black;
}

.skills-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more{
    text-decoration: none;
    color:rgb(44, 44, 252) ;
}
.more:hover{
    color: darkgoldenrod;
}
.contact .icon{
    font-size: 4.5em;
    
}
.contact .info h3{
    color: black;
}
.contact p{
    font-size: 1.2em;
    letter-spacing: 1px;
}
.footer{
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer .title{
    font-size: 2em;
    font-weight: 400;
}
.footer .title span{
    color: rgb(44, 44, 252);
}
.footer .social-icons{
    font-size: 0.7em;
    margin-right: -25px;
}
@media (max-width:1023px){
    header{
        padding: 10px 15px ;
    }
.navigation a{
    padding-left: 5px;
    font-size: 0.8em;
}
.logo{
    font-size: 0.9em;
}
.title{
    font-size: 1.8em;
}
section{
    padding: 80px 20px;
}
.main{
    background: url(iamge/PicsArt_07-17-01.43.57.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
}
@media(max-width:300px){
body{
    font-size: 0.7em;
}
section{
    padding: 70px 10px;
}
}